@{
    ViewBag.Title = "Index";
}

<h2>Neo4j Web Example</h2>
<a href="/Home/All">All Nodes</a><br />
<a href="/Home/SortClasses">Sort Classes</a><br />
<a href="/Home/SortUsers">Sort Users</a><br />
