@model Neo4jApp.Models.SortUser

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
        Student In
    </div>
    <div class="display-field">
        @foreach (Neo4jClient.Node<Neo4jApp.Models.SortClass> sortClass in ViewBag.StudentIn)
        {
            @sortClass.Data.name <br />
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
